@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #fff1d8;
  --primaryTwo: #fab800;
  --secondary: #dc522d;
  --secondaryTwo: #dfcfc5;
  --accent: #075ba7;

  --accentTwo: #2f4858 /* --primaryFont: neue-haas-grotesk-display; */ --primaryFont: neue-haas-grotesk-display, sans-serif;

  font-family: 'neue-haas-grotesk-display', sans-serif;
  /*  */
  /* font-family: freighttextcmp-pro, sans-serif; */
  /* font-family: duckie, sans-serif; */
}
